
@{
    ViewBag.Title = "musteriEkleme";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <form class="form-group" method="post">

            <div>
                Customer Name <input type="text" class="form-control" name="MUSTERIAD" value="" />
            </div><br /><br />
            <div>Last Name <input type="text" class="form-control" name="MUSTERISOYAD" value="" /></div>

            <button type="submit" class="btn btn-info" style="margin-top:15px">Add Customer</button>



        </form>
    </div>
</div>