
@{
    ViewBag.Title = "Home Page";

}

<h1>MVC model learning and stock adding.</h1>



<div class="row">
    <fieldset class="col-lg-3"> 
        Select movie <select class="form-control">
    <option value=""></option>
    <option value="1">1. secenek</option>
    <option value="2">2. secenek</option>
    <option value="3">3. secenek</option>
    <option value="4">4. secenek</option>
    <option value="5">5. secenek</option>

        </select>
    </fieldset>

</div>